ion-button {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#username-input {
  width: 40%;
  margin-top: 25%;
  margin-left: auto;
  margin-right: auto;
}

#password-input {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
